@if (User.Identity.IsAuthenticated)
{
    <form asp-controller="Autentication" asp-action="Logout" method="post" style="display:inline">
        <button type="submit" class="btn btn-link">Logout</button>
    </form>
}
