@model Envirovement.Models.Authentication.Login.LoginModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f9;
            margin: 0;
            padding: 0;
        }

        .container {
            background-color: #fff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            width: 100%;
            max-width: 400px;
            margin: 20px auto;
        }

        form {
            display: flex;
            flex-direction: column;
        }

        label {
            margin-bottom: 5px;
            font-weight: bold;
            color: #555;
        }

        input[type="text"],
        input[type="password"] {
            padding: 10px;
            margin-bottom: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 16px;
            width: 100%;
        }

        input:focus {
            outline: none;
            border-color: #66afe9;
            box-shadow: 0 0 5px rgba(102, 175, 233, 0.6);
        }

        button {
            padding: 10px;
            background-color: #28a745;
            color: white;
            border: none;
            border-radius: 5px;
            font-size: 16px;
            cursor: pointer;
        }

            button:hover {
                background-color: #218838;
            }
    </style>
</head>
<body>
    <div class="container">
        <h2 style="text-align:center">შესვლა</h2>
        <form asp-controller="Autentication" asp-action="Login" method="post">
            <input type="hidden" name="returnUrl" value="@ViewData["ReturnUrl"]" />

            <label for="UserName">მომხმარებელი:</label>
            <input type="text" id="UserName" name="UserName" required />

            <label for="Password">პაროლი:</label>
            <input type="password" id="Password" name="Password" required />

            <button type="submit">გადადით პორტალზე</button>
        </form>

    </div>
</body>
</html>
